<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://assets.gq.ru/photos/6194c1d98660d334d5ac62d4/16:9/w_2560%2Cc_limit/GettyImages-1198354814.jpg" alt="Tarantino" style="width:100%">
      <div class="container">
        <h2>Quentin Jerome Tarantino</h2>
        <p class="title">film director</p>
        <p>His films are characterized by nonlinear storylines, dark humor, stylized violence, extended dialogue, ensemble casts, references to popular culture, alternate history, and neo-noir.</p>
        <p>tarantino@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://city-drom.ru/wp-content/uploads//2019/09/%D1%89.jpg" alt="Gocha" style="width:100%">
      <div class="container">
        <h2>Георгий Тумасович Чивчян</h2>
        <p class="title">Российский автогонщик-дрифтер</p>
        <p>Чемпион Сибири 2012 года, трехкратный Чемпион России (2011, 2013, 2014), пилот Чемпионата Японии D1GP 2013 года, участник D1GP (2013, 2014, 2015), чемпион Российской дрифт серии GP 2017, 2018, 2019. 2018 и 2019 года — победитель FIA Intercontinental Drifting Cup.</p>
        <p>gocha@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://editorial.uefa.com/resources/0255-0d94ae1b8780-4f1eaae366fc-1000/jose_mourinho_after_winning_the_2009_10_uefa_champions_league_with_inter.jpeg" alt="Mourinho" style="width:100%;">
      <div class="container">
        <h2>José Mourinho</h2>
        <p class="title">Special one</p>
        <p>Portuguese professional football manager and former player who is the current head coach of Serie A club Roma. He is widely considered to be one of the greatest managers of all time, and is one of the most decorated managers ever.</p>
        <p>mourinho@mail.ru</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
