<div class="blog ml-2 mt-2">
  <div class="link" routerLinkActive="active">
    <h1 routerLink="/">My blog</h1>
  </div>
  <li class="link" routerLinkActive="active">
    <a routerLink="/">Home</a>
  </li>
  <li class="link">
    <div style="border-left: 1px solid #ff0000; padding: 0 10px" class="verticalLine"><a routerLink="/add">Add</a></div>
  </li>
  <li class="link">
    <div style="border-left: 1px solid #ff0000; padding: 0 10px" class="verticalLine"><a routerLink="/about">About</a></div>
  </li>
  <li class="link">
    <div style="border-left: 1px solid #ff0000; padding: 0 10px" class="verticalLine"><a routerLink="/contacts">Contacts</a></div>
  </li>
</div>
