<div class="row mt-2 ml-2">
  <div class="col-4">
  <h1>Add new post</h1>

  <form (ngSubmit)="createPost()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        class="form-control"
        [(ngModel)]="title"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        class="form-control"
        [(ngModel)]="description"
      ></textarea>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
    >Create
    </button>
  </form>
</div>
</div>
